<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.example.dao.AsPwMapper">

    <select id="select" parameterType="com.springboot.example.dto.AsPwFundraiserProduct" resultType="com.springboot.example.dto.AsPwFundraiserProduct">
    </select>

</mapper>