<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf-users</title>
</head>
<body>
<div>
    <ul>
        <!--/*@thymesVar id="users" type="java.util.List"*/-->
        <li th:each="user : ${users}">
            <!--/*@thymesVar id="user" type="com.springboot.example.domain.User"*/-->
            <span th:text="${user.id}"></span>-
            <span th:text="${user.name}"></span>-
            <span th:text="${user.age}"></span>-
            <span th:text="${user.address}"></span>
        </li>
    </ul>
</div>
</body>
</html>